/* Responsive for mobile devices */

@media screen and (max-width: 600px){
    /* header top */
    .header-top-menu-rapper{
        flex-direction: column;
    }
    .ul-common-flex{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .webtitle{
        width: 100%;
        align-items: start;
    }
    .webtitle h2, .webtitle span{
        font-size: 1.375rem;
    }
    .webtitle img{
        width: 10%;
    }

    /* header body */
    
    .header-body-rapper {
        padding: 0;
        padding-bottom: 32px;
    }
    .header-body-rapper h1{
        font-size: 1.375rem;
        font-weight: 800;
        margin-bottom: 24px;
        padding-top: 30px;
    }
    .header-body-rapper p{
        padding: 0 10px;
    }
    .header-body-menu-rapper{
        width: 80%;
        padding: 20px 0;
    }
    .header-body-ul-flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }


    /* Popular tour */

    .popular-tours-container{
       flex-direction: column;
       padding: 24px 0;
    }
    .popular-tours-description{
        width: 100%;
    }
    .popular-tour-img{
        width: 100%;
        margin-top: 24px;
    }

}